html, body{
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    margin:0;
    box-sizing: border-box;
    padding: 2% 5%;
}

body{
    background-image: url("../photos/background.jpg")
}
button{
    width: 40%;
    padding: 5%;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: #4287f5; 
    border-style: none;    
}

img:hover{
cursor: pointer;
}

h1{
    text-shadow: 5px 5px 10px rgba(255, 255, 255, 1)
}


img{
    height: 20px;
    width: 20px;
    margin-bottom: 25px;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.bookmarks{
    display: flex;
    flex-direction: column;
}

.entry, .nospacing{
display: flex;
justify-content: space-between;
border: 2px solid black;
border-bottom: none;
padding: 5px 10% 0px 10%;
}


span{
    flex-basis: 50%;
}

.bookmarks:hover, button:hover{
    cursor: pointer;
}

button:hover{
    background-color:#6a9e8b
}

.entry-selected{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border: 2px solid;
    border-top: none;
    border-bottom: none;
    }

.entry:last-child{
    border-bottom: 2px solid black;
}

.max-height{
    max-height: 400px;
    overflow: auto;
}

label{
    display: block;
}
.e-buttons{
    display: flex;
    justify-content: space-evenly;
}

input[type=textarea]{
    height: 50px;
    border-radius: 4px;
    border-style: none;
}

input{
    font-size: 30px;
}

.delete{
    margin-left: 95%;
}

.visit{
    margin-left: 0px;
}

.error{
    border: 2px solid red;
    margin: 0% 6%;
    padding: 2% 5% 5% 5%;
    background-color: #e77e90;
    border-radius: 25px;
    width: 80%;
}

.X{
    margin-left: 100%;
}

.X:hover{
    cursor: pointer;
}

input[type=textbox]{
    width: 98%;
    height: 30px;
    margin-bottom: 25px;
    border-radius: 5px;
    border-style: none;

}



.title{
margin-top: 25px;
}



@media only screen and (min-width: 800px) {
    body {
      padding: 2% 20%;
    }

    button{
        padding: 1%;
        width: 45%
    }

    .create, .cancel{
        width:50%;
    }
    .nospacing{
        display: flex;
        justify-content: flex-start;
    }

    .edit{
        margin-right: 23%
    }

  }
  